.login_main{
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 10%;
}
.login_inner{
   /* background-color: brown;*/
    width:30%;
    display: flex;
    flex-direction: column;
}
.login_inner input{
    margin-bottom: 30px;
    width: 40%;
}
.login_inner button{
    width: 50%;
}